<input type="file" name="image" #fileEl>
<button (click)="sendFile(fileEl.files[0])">send</button>


<button (click)="refresh()">refresh</button>

<img *ngFor="let imagename of images" [src]="'images/' + imagename" alt="">
